.footer__column_content_copyright {
    display: flex;
    flex-basis: 711px;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}

.footer__column_content_info {
    text-decoration: none; 
     line-height: 30px; 
     font-size: 18px; 
     font-weight: normal; 
     color: #4f4f4f;
}

.footer__column_content_social {
    margin-bottom: 16px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #4f4f4f;
}