body{
    margin: 0;
}

.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color:#f2f2f2;
    position: relative;
    overflow: hidden;
    /* parameters for the header section */
}

.header__logo_place_header {
    position: absolute;
    width: 154px;
    height: 31px;
    z-index: 1;
    left: 64px;
    top: 30px;
}

.header__title {
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    width: 730px;
    margin-left: 64px;
}

.header__subtitle {
    position: absolute;
    z-index: 1;
    left: 64px;
    bottom: 30px;
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__link {
    color: #44a2ef;
    text-decoration: none;
}

.header__main-illustration {
    margin-bottom: 0;
    margin-right: 0;
    width: 765px;
    height: 608px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
    background-color: #2f80ed;
    width: 568px;
    height: 568px;
    position: absolute;
    top: 64px;
    right: 0;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    margin: 100px auto;
    width:80%;
}

.two-columns__brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    color: #5898ec;
    flex-direction: column;
    font-weight: normal;
}

.two-columns__main-text {
    line-height: 34px;
    font-size: 24px;
    width: 80%;
    flex-direction: column;
    min-width: 784px;
    width:80%;
    font-weight: normal;
}

.two-columns__paragraph {
    margin-bottom: 30px;
}

.two-columns__span-accent {
    font-weight: bold;
}
.digits {
    display: flex;
    flex-direction: column;
}

.digits__title {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60%;
    margin-bottom: 20px;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    
}
.digits__subtitle {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.table {
    width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.table__cell {
    width: 250px;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.table__row-one {
    display: flex;
    justify-content: space-between;
}

.table__row-two {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.table__heading {
    display: flex;
    justify-content: flex-start;
    padding-top: 0;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;  
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.table__quote {
    margin-top: 20px;
}

.feynman {
    height: 790px;
    position: relative;
    background-color:#f2f2f2;
    padding-top: 100px;
    margin-top: 100px;
}

.feynman__title {
    width: 775px;
    margin: 0 auto 0;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    z-index: 1;
    text-align: center;
    position: relative;
}
.feynman__subtitle {
    margin-top: 70px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    z-index: 1;
    position: relative;
}

.feynman__link {
    right: 48px;
    top: 50%;
    z-index: 1;
    position: absolute;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #000;
}

.feynman_image {
    width: 867px;
    height: 637px;
    position: absolute;
    bottom: 0;
    left: 0;
}



/* including elements with key-value modifiers */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.kaufman {
    position: relative;
    flex-direction: column;
    overflow: hidden;
    background-color: #1f1f1f;
}

.kaufman__heading_theme-dark {
    justify-content: center;
    color: white;
    width: 60%;
    margin: 90px auto 0;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 1;
}

.kaufman__subtitle_theme-dark {
    color: white;
    justify-content: center;
    width: 60%;
    margin: 20px auto 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    position: relative;
    z-index: 1;
    text-align: center;
}

.table__theme-dark {
    margin: 0 auto 0;
    width:1100px;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
    margin-bottom: 90px;
    border-collapse: collapse;
}

.table__table-row-1_theme-dark {
    display:flex;
    justify-content: space-between;
}

.table__table-row-2_theme-dark {
    display: flex;
    justify-content: space-between;

}

.table__heading_theme-dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.table__cell_theme-dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    padding: 0;
}

.kaufman__triangle{
    right: -210px;
    top: -16px;
    position: absolute;
    width: 877px;
    height: 877px;
}

.footer {
    min-height: 350px;
    background-color: #1f1f1f;
}

.footer__columns {
    display: flex;
    width: 90%;
    margin: 60px auto 40px;
    min-height: 250px;
    justify-content: space-between;
    color: white;
}

.logo__place_footer {
    display: flex;
    width: 183px;
    height: 35px;
}

.footer__column_content-copyright {
    display: flex;
    flex-basis: 711px;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}

.footer__author {
    margin: 18px 0;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    color: #2f2f2f;
}

.footer__column_content-info {
    display: flex;
    flex-direction: column;
}

.footer__column_heading {

    line-height: 45px; 
     font-size: 18px; 
     font-weight: bold; 
}

.footer__column_list-of-links {
    text-decoration: none; 
     line-height: 30px; 
     font-size: 18px; 
     font-weight: normal; 
     color: #2f2f2f;
    list-style-type: none;
    padding-left: 0;
}

.footer__column_links {
    text-decoration: none;
    color:#2f2f2f;
}

.footer__column_content_social {
    list-style-type: none;
    padding-left: inherit;
}
.footer__column-social_heading{
    margin-bottom: 20px;
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
}

.footer__column-social_links {
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #2f2f2f;
    text-decoration: none;
    
}

.footer__column-social_icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}