.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color:#f2f2f2;
    position: relative;
    
    /* parameters for the header section */
}

.header__title-wrapper {
    flex-basis: 50%;
}

.logo__place_header {
    background-image: url(../images/logo.png);
    background-size: cover;
    width: 154px;
    background-image: cover;
    height: 31px;
    z-index: 1;
    margin-left: 64px;
    margin-top: 30px;
    position: absolute;
    
}

.header__heading_title {
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    width: 730px;
    margin-left: 64px;
    margin-top: 25%;
}

.header__heading_subtitle {
    position: absolute;
    z-index: 1;
    margin-left: 64px;
    bottom: 30px;
    width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.header__link_learn-more {
    color: #44a2ef;
    text-decoration: none;
}

.header__img_main-illustration {
    margin-bottom: 0;
    margin-right: 0;
    width: 765px;
    height: 608px;
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
    margin-top: 64px;
    margin-right: 0;
    background-color: #2f80ed;
    width: 568px;
    height: 568px;
    position: absolute;
    right: 0;
    
    
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px auto;
    width: 80%;
    min-width: 784px;
    
}

.section__div_brief {
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    color: #5898ec;
}

.section__div_main-text {
    line-height: 34px;
    font-size: 24px;
    width: 80%;
    
    
}

.div__div_paragraph-1 {
    padding-bottom: 30px;
}

.div__div_paragraph-2 {
    padding-bottom: 30px;
}

.bold {
    font-weight: bold;
}

.div__div_paragraph-3 {

}

.digits {
    display: flex;
    flex-direction: column;
}

.section__heading_digits {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 60vh;
    padding-bottom: 20px;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    
}
.section__heading_subheading {
    margin: auto;
    width: 60vh;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.table {
    width: 1100px;
    margin: auto;
}

.table__table-body {
    display: flex;
    flex-direction: column;
}

.table_table-data {
    width: 250px;
    vertical-align: top;
}

.table__table-row-one {
    display: flex;
    justify-content: space-between;
}

.table__table-row-two {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.table-data__heading {
    display: flex;
    justify-content: flex-start;
    padding-top: 0;
    margin-bottom: 20px;
    margin-top: 0;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;  
}

.table-data__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}

.table-data__text_quote {
    margin-top: 20px;
}

.feinman {
    height: 790px;
    position: relative;
    background-color:#f2f2f2;
    padding-top: 100px;
    margin-top: 100px;
}

.section__heading_title_feinman {
    width: 770px;
    margin: 0 auto 0;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    z-index: 1;
    text-align: center;
    position: relative;
}
.section__heading__subtitle {
    margin-top: 70px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    z-index: 1;
    position: relative;
}

.section__link_feinman {
    right: 48px;
    top: 50%;
    z-index: 1;
    position: absolute;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #000;
    margin-top: -50px;
}

.section__image_feinman {
    
    width: 867px;
    height: 637px;
    position: absolute;
    bottom: 0;
    
}



/* including elements with key-value modifiers */
.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.kaufman {
    position: relative;
    flex-direction: column;
    overflow: hidden;
    background-color: #1f1f1f;
    
}

.section__heading_kaufman_theme_dark {
    justify-content: center;
    color: white;
    width: 60%;
    margin: 90px auto 0;
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    position: relative;
    z-index: 1;
}

.section__heading_subtitle_theme_dark {
    color: white;
    justify-content: center;
    width: 60%;
    margin: 20px auto 0;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    position: relative;
    z-index: 1;
    text-align: center;
}

.table__theme_dark {
    margin: 0 auto 0;
    width:1100px;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
    margin-bottom: 90px;
    border-collapse: collapse;
}

.table__table-row-1_theme_dark {
    display:flex;
    justify-content: space-between;
}

.table__table-row-2_theme_dark {
    display: flex;
    justify-content: space-between;

}

.table__table-data_heading_theme_dark {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.table__table-data_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    padding: 0;
}

.section_kaufman__image_blue-triangle{
    right: -210px;
    top: -16px;
    position: absolute;
    width: 877px;
    height: 877px;
}

.footer {
    min-height: 350px;
    background-color: #1f1f1f;
}

.footer__content {
    display: flex;
    width: 90%;
    margin: 60px auto 40px;
    min-height: 250px;
    justify-content: space-between;
    color: white;
}

.logo__place_footer {
    background-image: url(../images/logo_white.png);
    background-size: cover;
    display: flex;
    width: 183px;
    height: 35px;
}

.footer__column_copyright {
    display: flex;
    flex-basis: 711px;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}

.footer__div_author {
    margin: 18px 0;
    line-height: 25px;
    font-size: 18px;
}

.footer__column_info {
    display: flex;
    flex-direction: column;
}

.footer__column-info_heading {

    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
}

.footer__column-info_div_links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 16px;
}

.footer__column-info_links {
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #2f2f2f;
}

.footer__column-social_heading{
    margin-bottom: 20px;
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
}

.footer__column-social_links {
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #2f2f2f;
}

.table__table_data_social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}