.khan__buy-link {
    position: static; 
    color: #44a2ef;
    text-decoration: none;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
}

.khan__buy-link:hover {
    opacity: 50%;
    transition: 2s linear;
}